@import url('https://css.gg/math-plus.css');
*{
	 margin: 0;
	 padding: 0;
	 cursor: pointer;
	 font-family: arial;
	}
	body,html,*{
		box-sizing: border-box;
	}
	.header
	{
		max-width: 80%;
		margin: 0 auto;
		/*height: 70px;*/
		background-color: white;
		display: flex;
	}
	.links>a:link 
	{
		font-size: 13px;
		text-decoration: none;
		font-family: arial;
		letter-spacing: 2px;
		margin-right: 10px;
		color: #636568;
		padding: 10px;
	}
	/*@media (max-width:800px){ .links>a:link{
		font-size: 6px;
		letter-spacing: 0;
	}*/
	@media (max-width:1000px){ .links{
		display: none;
	}
	.header{
		justify-content: space-between;
	}
		
	}
	@media (min-width:1000px) and (max-width: 1300px)
	{
		.links>a:link 
		{
			font-size: 6px;
			letter-spacing: 0;
		}
	}
	.links>a:hover
	{
		color: white;
		background-color: black;
	   padding: 30px 10px;
	}
	.links
	{
		padding: 25px;
		text-align: right;
		border: none;
		margin-right: 10px;
		width: 100%;
	}
	.mail
	{
		padding: 15px;
		margin-right: 50px;

	}
	.logo1
	{
		margin-left:  150px;
		height: fit-content;
	}
 .contact-section,.service-section,.feedback-section,.testimonials-section
 {
   width: 100%;
   max-width: 2000px;
	/*height: 100vh;*/
	background: url('img-1.jpg');
	background-position: center;
	background-size: cover;
	color: white;
	font-size: 65px;
}
.contact-section-overlay,.feedback-section-overlay,.testimonials-section-overlay
{
	width: 100%;
	/*height: 100vh;*/
	background-color: rgb(11,9,56,0.7);
	text-align: center;
}
.contact-content
{
	padding:90px ;
	max-width: 80%;
	margin: 0 auto;
}
.p1
{
	font-size: 15px;
	margin: 40px;
}
.button1
{
	min-width: 170px;
	padding: 20px;
	background-color: #F8BD0A;
	border-radius: 30px;
	border: none;
	color: white;
	letter-spacing: 5px;
	font-size: 15px;
}
.button2,.button3,.button4
{
	min-width: 170px;
	padding: 20px;
	background: none;
	border-radius: 30px;
	border: solid 2px white;
	color: white;
	letter-spacing: 5px;
	font-size: 13px;
}
.button1:hover
{
	background-color: red;
	color: white;
}
.button2:hover,.button4:hover
{
	border: solid 2px black;
	background-color: black;
	color: white;
}
.intro-section
{
	max-width: 2000px;
	/*height: 90vh;*/
	background-color: white;
	padding: 50px 0;
	display: flex;
	margin: 50px 0;
}
.intro-section-content
{
	max-width: 80%;
	margin: 0 auto;
	display: flex;
}
.intro-section-heading
{
	font-size: 50px;
	color: #38383E;
	padding-bottom: 30px;
}
.intro-section-1
{
	width: 50%;
	/*height: 100%;*/
	padding: 0 50px;
}
.intro-section-row
{
	display: flex;
	align-items: center;
	word-spacing: 2px;
	font-size: 20px;
	padding: 10px;
}
.intro-section-row-icon
{
	margin: 5px;
	padding: 10px;
	/*height: 60px ;*/
	width: 60px;

}
.intro-section-2
{
	background: url('img-3.jpg');
	background-position: center;
	background-size: cover;
	width: 40%;
	/*height: 70vh;*/
	margin-right: 50px;
}
.service-section
 {
	background: url('img-2.jpg');
	background-position: center;
}
.service-section-heading
{
	padding-top: 60px;
}
.service-section-content
{
	display: flex;
	/*height: 40%;*/
	max-width: 80%;
	margin: 0 auto;
	padding: 30px;
}
.service-section-button
{
	padding-top: 30px;
	padding-bottom: 50px;
}
.service-section-box-title
{
	padding: 15px;
}
.service-section-box
{
	margin: 10px 10px 0 10px;
	padding-top: 20px;
	width: 33%;
	/*height: 30vh;*/
	font-size: 20px;
}
.button3
{
	
	width: 400px;
	background-color: #F8BD0A;
	border: none;
	color: white;
	letter-spacing: 5px;
	font-size: 12px;
}
.icon
{
	height: 90px;
	width: 90px;
	/*padding:  10px 5px;*/
	border-radius: 50%;
	margin: 0 auto ;
	background-color: rgb(255, 255, 255,0.2);
}
.gallery-section
{
	max-width: 2000px;
	background-color: white;
	margin: 50px;
	padding: 50px;
}
.row {  
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
}
.column { 
  flex: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
.gallery-img-container-calender{
	height: 33%;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: flex;
	position: relative;
}
.gallery-img-container-calender:hover .gallery-img-overlay {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
  opacity: 0.8;
  /*transform: translate(-50%, -50%);*/
}
.gallery-img-container-skate{
	height: 66.5%;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: flex;
	position: relative;
}

.gallery-img-overlay-text
{
	color: white;
	width: 350px;
	text-align: center;
	display: flex;
	flex-direction: column;
	position: relative;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.gallery-img-overlay {
    height: 90%;
    width: 90%;
    display: none;
    transition: 1s ease;
    position: absolute;
    background-color: #401C75;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;  
    margin-top: 5px;
    padding: 40px 20px;
}
.gallery-img-container-skate:hover .gallery-img-overlay {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
  opacity: 0.8;
}

.gallery-hover-circle
{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #C59A17;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40%;
}
.gallery-hover-icon
{
	position: absolute;
}
.gg-math-plus
{
	color: white;
}

.feedback-section
{
	background: url('img-4.jpg');
	background-position: center;
	max-width: 2000px;
}
.feedback-section-overlay
{
	/*height: 50vh;*/
}
.feedback-section-box{
	margin: 10px 10px 0 10px;
	width: 25%;
	/*height: 30vh;
	padding-top: 20px;*/
	font-size: 20px;
}
.btext
{
	font-size: 50px;
}
.feedback-section-hover:hover
{
	color: #F8BD0A;
}
.plans-section,.blog-section
{
	/*height: 110vh;*/
	max-width: 2000px;
	background-color: white;
	padding: 50px;
	margin: 50px;
}
.plans-section-1
{
	text-align: center;
}
.plans-section-2
{
	display: flex;
	/*height: 80%;*/
	margin: 30px;
	padding: 20px;
}
.box1
{
	/*width: 32%;*/
	/*height: 100%;*/
	box-shadow: 5px 5px 5px #CDC5C5;
	border: solid 3px white;
	background: rgb(207, 204, 204,0.3);
	border: solid 2px rgb(207, 204, 204,0.3);
	text-align: center;
	margin-right: 20px;
	background: .FFFFFF;
	padding: 20px;
}
.button4
{
border: solid 2px rgb(11,9,56,1);
color: rgb(11,9,56,1);
}
#price-sec-button-1
{
	/*margin-top: 10px;*/
}
.testimonials-section
{
	background: url('img-3.jpg');
	background-position: center;
	height: 100vh;
	max-width: 2000px;
	color: white;
}
.testimonials-section-overlay
{
	height: 100vh;
}
.testimonial-content
{
	
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	justify-content: center;
	column-gap: 20px;
}
.testimonials-section-header
{
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	margin: 0 auto;
}
.test-arrow
{
	display:flex; 
	margin:80px;
}
.test-arrow-lt
{
	width: 50px;
	height: 50px;
	background-color: #EEA009;
}
.test-arrow-lt:hover 
{
	background-color: rgb(88, 231, 306,0.5);

}
.test-arrow-rt
{
	width: 50px;
	height: 50px;
	background-color: #0B2250;
}
.test-arrow-rt:hover
{
	background-color: rgb(88, 231, 306,0.5);
}
.blog-section-content
{
	margin-top: 20px;
	display: flex;
}
.box2
{
	/*width: 33%;*/
	/*height: 75vh;*/
	box-shadow: 5px 5px 5px #CDC5C5;
	border: solid 1px white;
	background: rgb(207, 204, 204,0.3);
	border: solid 1px rgb(207, 204, 204,0.3);
	text-align: left;
	margin-right: 20px;
	background: #FFFFFF;
}
.blog-img
{
	height: 240px;
	background: url('img-2.jpg');
	background-size: cover;
	background-position: center;
}
.blog-section-content-box
{
	margin: 10px;
	padding: 20px;
}
.footer
{
	height: 70vh;
	max-width: 2000px;
	margin-top: 50px;
	background-color:#3D3370;
}
.header1
{
	width: 100%;
	height: 10vh;
}
.footer-2
{
	margin: 50px 150px 0 150px;
	height: 45vh;
	display: flex;
}
.footer-box
{
	margin-right: 80px;
	text-align: left;
	background: none;
	color: white;
	margin-top: 50px;
}
.box3
{
	/*width: 30%;
	height: 45vh;
	text-align: center;
	margin-right: 80px;*/
	text-align: left;
	background: none;
	color: white;
	margin-top: 50px;
}
hr 
{
	/*margin-left: 250px;
	width: 1000px;*/
	opacity: 0.1;
}
.cpyrt
{
	opacity: 0.4;
	color: white;
	font-size: 10px;
	letter-spacing: 2px;
	padding-top: 15px;
	text-align: center;
}
.links2> a:link 
{
		font-family: arial;
		text-decoration: none;
		background-color: transparent;
        color: #464444;
		font-size: 12px;
		letter-spacing: 1px;
		word-spacing: 2px;
		margin-right: 10px;
}
.links2>a:hover
{
	text-decoration: underline;
}
li{
	padding: 10px 0;
}
.footer-list
{
	list-style-type: none;
}
.footer-list>li:hover
{
	font-size: 20px;
}
#darrow
{
	height:15px; 
	width:25px;
}
.email-field
{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50px;
	margin-top: 20px;
}
.email-box
{
	height:40px; 
	border:0;
	padding: 10px;
}
.email-box-color
{
	width: 50px;
	height: 40px;
	background-color: #F8C617;
	margin-left: -2px;
}